html {
    background-color: #222222;
    font-family: monospace;
}

/* */

.console {
    color: #999999;
}

#oldContent{
    margin: 15px 0 15px 0;
}

.user{
    color: green;
}
.location{
    color: purple;
}

.userInput {
    background: transparent;
    border: none;
    outline: none;
    font-family: monospace;
    width: 8px;
    min-width: 8px;
    color: #999999;
}

.userInput:focus {}

/*
Blinking Cursor
*/